<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit User</title>
</head>

<body>
    <div align="center">
        <h2>Edit User</h2>
        <form method="post" action="/updateRecord" enctype="multipart/form-data">
            <input type="hidden" name="editid" value="<%= single.id %>">
            <table border="2">
                <tr>
                    <td>Name :- </td>
                    <td><input type="text" name="name" value="<%= single.name %>"></td>
                </tr>
                <tr>
                    <td>Email :- </td>
                    <td><input type="text" name="email" value="<%= single.email %>"></td>
                </tr>
                <tr>
                    <td>Password :- </td>
                    <td><input type="text" name="password" value="<%= single.password %>"></td>
                </tr>
                <tr>
                    <td>Gender :- </td>
                    <td>
                        <input type="radio" name="gender" <% if(single.gender=="male" ) { %> checked <% } %>
                            value="male">Male
                        <input type="radio" name="gender" <% if(single.gender=="female" ) { %> checked <% } %>
                            value="female">Female
                    </td>
                </tr>
                <tr>
                    <td>Hobby :- </td>
                    <td>
                        <input type="checkbox" name="hobby" <% if(single.hobby.includes('reading')) { %> checked <% } %>
                            value="reading">Reading
                        <input type="checkbox" name="hobby" <% if(single.hobby.includes('music')) { %> checked <% }
                            %> value="music">Music
                        <input type="checkbox" name="hobby" <% if(single.hobby.includes('writing')) { %> checked
                            <% } %> value="writing">Writing
                    </td>
                </tr>
                <tr>
                    <td>City :- </td>
                    <td>
                        <select name="city">
                            <option>---select city---</option>
                            <% const city=["Surat","Vadodara","Ahemdabad","Rajkot"]; city.map((city)=>{ %>
                                <option <% if(single.city==city) { %> selected <% } %> value="<%= city %>"><%= city %>
                                </option>
                                <% }) %>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>File Upload :- </td>
                    <td>
                        <input type="file" name="avatar" />
                        <img src="<%= single.image %>" width="100" alt="" />
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit"></td>
                </tr>
            </table>
        </form>
        <a href="/viewRecord">View</a>
    </div>
</body>

</html>